body {
  height: 100%;
  background: 
  linear-gradient(
    rgba(255, 255, 255, 0.651),
    rgba(224, 219, 219, 0.637) 
  )
  }
  nav {
    background: 
    linear-gradient(
      rgba(213, 216, 221, 0.651),
      rgba(189, 185, 185, 0.637) 
    )
  }
  #home {
     background: 
    linear-gradient(
      rgba(189, 185, 185, 0.637),
      rgba(127, 218, 224, 0.637)
    )
  }

  #maths {
    background: 
   linear-gradient(
     rgba(189, 185, 185, 0.637),
     rgba(4, 28, 241, 0.637)
   )
 }

 #physics {
  background: 
 linear-gradient(
   rgba(189, 185, 185, 0.637),
   rgba(138, 31, 238, 0.637)
 )
}

#prices {
  background: 
 linear-gradient(
   rgba(189, 185, 185, 0.637),
   rgba(135, 214, 184, 0.637)
 )
}

#about {
  background: 
 linear-gradient(
   rgba(189, 185, 185, 0.637),
   rgba(157, 227, 240, 0.637)
 )
}
#query {
  background: 
 linear-gradient(
   rgba(189, 185, 185, 0.637),
   rgba(235, 160, 160, 0.637)
 )
}

  span{
    color:#0fa30f
  }
  .navbar-brand {
    color:#1a9bf1;
    font-size:2rem;
  }
  .navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
  }
  .centerBlock {
    display: table;
    margin: auto;
  }
