html, body {
  overflow-y:scroll;
}
body {
  
  background: 
  linear-gradient(
    rgba(255, 255, 255, 0.651),
    rgba(224, 219, 219, 0.637) 
  )
  }
  nav {
    background: 
    linear-gradient(
      rgba(213, 216, 221, 0.651),
      rgba(189, 185, 185, 0.637) 
    )
  }
  #home {
     background: 
    linear-gradient(
      rgba(189, 185, 185, 0.637),
      rgba(197, 201, 201, 0.637)
    )
  }

  #maths {
    background: 
   linear-gradient(
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(116, 128, 235, 0.637)
   )
 }

 #physics {
  background: 
 linear-gradient(
   rgba(189, 185, 185, 0.637),
   rgba(138, 31, 238, 0.637)
 )
}

#prices {
  background: 
 linear-gradient(
   rgba(189, 185, 185, 0.637),
   rgba(135, 214, 184, 0.637)
 )
}

#about {
  background: 
 linear-gradient(
   rgba(189, 185, 185, 0.637),
   rgba(157, 227, 240, 0.637)
 )
}
#query {
  background: 
 linear-gradient(
   rgba(189, 185, 185, 0.637),
   rgba(129, 190, 231, 0.637)
 )
}

  span{
    color:#0fa30f
  }
  .navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    font-size: 20px;
  }
  .centerBlock {
    display: table;
    margin: auto;
  }

  .customBtn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }

  .btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }

  .btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }

  .customBtn {
    flex: 1 1 auto;
    /* margin: 10px; */
    padding: 50px 50px;
    text-align: center;
    transition: 0.5s;
    font-size: 20px;
    font-family: Verdana,sans-serif;
    font-weight:bold;
    background-size: 200% auto;
    color: black;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }
